<div class="display-2">Home
    <h4>Daftar nama kucing</h4>
    <% cats.forEach(cat => {%>
    <ul>
        <li>Nama : <%= cat.nama %></li>
        <li>Ras : <%= cat.ras %></li>
    </ul>
    <% })%>
</div>